In [31]:
import pandas as pd
import numpy as np

speeds = pd.DataFrame(
    [
        ("mohamadreza", "A", 20),
        ("bird", "B", 1),
        ("mammal", "Carnivora", 0),
        ("mammal", "Primates", 100),
        ("mammal", "Carnivora", 1),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
speeds

               class      order  max_speed
falcon   mohamadreza          A         20
parrot          bird          B          1
lion          mammal  Carnivora          0
monkey        mammal   Primates        100
leopard       mammal  Carnivora          1

In [32]:
class Point:
    classlevelatt = "blue"
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def draw(self):
        print(f"Point:{self.x},{self.y}")


point = Point(1,2)
point.draw()
print(point.classlevelatt)

Point:1,2
blue

In [33]:
print(Point.classlevelatt)

blue

In [24]:
#point.classlevelatt = "red"
#Point.classlevelatt = "pink"

print(point.classlevelatt)
print(Point.classlevelatt)

pink
pink

In [6]:
import pandas as pd

# Create a sample DataFrame with missing values
df = pd.DataFrame({'A': [129, 122, np.nan, 48, 35],
                   'B': [np.nan, 22, 34, np.nan, 53],
                   'C': [91, 23, 73, 43, np.nan]})

print("Original DataFrame:")
print(df)

# Perform linear interpolation along columns (forward fill by default)
df_interpolated = df.interpolate()

print("\nDataFrame after linear interpolation:")
print(df_interpolated)

Original DataFrame:
       A     B     C
0  129.0   NaN  91.0
1  122.0  22.0  23.0
2    NaN  34.0  73.0
3   48.0   NaN  43.0
4   35.0  53.0   NaN

DataFrame after linear interpolation:
       A     B     C
0  129.0   NaN  91.0
1  122.0  22.0  23.0
2   85.0  34.0  73.0
3   48.0  43.5  43.0
4   35.0  53.0  43.0

None